.heading{
  background-image: url(../images/h_img.jpg);
  text-align: center;
  color: white;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  font-size: 10px;
}
#logo{
  padding-top: 20px;
padding-bottom: 20px;
}
#mouse-click{
  padding-top: 83px;
  margin: 10%;
  padding-bottom: 20px;
  height: 0px;

}
#mouse_click{
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: bounce;

}
.services{
  background-image: url(../images/s_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
background-position: center;
color: white;
text-align: center;
}
.about{
  text-align: center;
}
.portfolio{
  text-align: center;

}
.contacts{
  background-image: url(../images/c_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
